{%extends 'layouts/layout.html'%}

{%block body%}
<!-- !PAGE CONTENT! --> 
    <!-- The Team -->
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="https://i.ytimg.com/vi/vbMQfaG6lo8/maxresdefault.jpg" alt="Tom" style="width:100%">
            <div class="w3-container">
              <h3>Your Data</h3>
              <p class="w3-opacity">Image irrelevant</p>
              <p>
                The only data about the users stored are your login credentials.
                Your password is hash protected, and so can't be viewed by searching the database alone.
              </p>
            </div>
          </div>
        </div>
      </div>
<!-- End page content -->
{%endblock%}